<div class="courses-container">
  <div class="courses-block">
    <app-search-course
      (courseSearch)="onCourseSearch($event)"
    ></app-search-course>
    <div class="add-course">
      <button class="add-course-btn" (click)="addNewCourse()">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Add Course
      </button>
    </div>
  </div>
  <ng-container
    *ngFor="
      let course of courses$ | async | courseOrderBy;
      trackBy: trackCourses
    "
  >
    <app-course
      [course]="course"
      (editCourse)="onEditCourse($event)"
      (deleteCourse)="onDeleteCourse($event)"
    ></app-course>
  </ng-container>
  <div *ngIf="isDataEmpty$ | async" class="no-data-wrapper">
    <span>
      NO DATA. FEEL FREE TO ADD NEW COURSE
    </span>
  </div>
  <app-load-more
    (loadMoreCourses)="onLoadMoreCourses()"
    [allCoursesLoaded]="allCoursesLoaded$ | async"
  ></app-load-more>
</div>
